MAKE_WEBHOOK_URL=https://hook.eu1.make.com/replace-me
AIRTABLE_TOKEN=pat_replace-me
AIRTABLE_BASE_ID=appeKMMHs9aXnLeTe
AIRTABLE_DOCUMENTS_TABLE=Documents
AIRTABLE_ANALYSES_TABLE=Analyses IA
AIRTABLE_FILENAME_FIELD=Nom document
AIRTABLE_STATUS_FIELD=Statut
